h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background-color: lightcyan;
}
header {
    display: block;
    height:100px;
    width: 100%;
}

nav {
    display: block;
    width: 100%;
    height: 50px;
    background-color: red;

}

ul {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
}

li {
    display: block;
    height: 100%;
    width:25%;
    float: left;
    background-color: white;
    color: deeppink;
    line-height: 50px;
    text-align: center;
}

li:hover {
    background-color:black;
    color:deeppink;
}