.headings
{
    text-align: center;
    font-family: Cambria;
    background-color: peachpuff;
    
    
}

.titles
{
    text-align: center;
    font-family: Arial;
    background-color: lightskyblue;
    color: black;
}

.background
{
    text-align: left;
    background-color: black;
    color: white;
}

.movies
{
    background-color: peachpuff;
}

.facebooklink
{
     width: 100px;
     height: 50px;
     position: absolute;
     top: 70px;
     right: 125px;
}
.twitterlink
{
    width: 65px;
    height: 55px;
    position: absolute;
    top: 70px;
    right: 15.5px;
}

.instalink
{
    width: 65px;
    height: 55px;
    position: absolute;
    top: 70px;
    right: 80px;
}

.imdblink
{
    width: 100px;
    position: absolute;
    top: 70px;
    right: 200px;
}

h2
{
    text-align: center;
}

