.headings
{
    text-align: center;
    font-family: Cambria;
    background-color: peachpuff;
    
    
}

.titles
{
    text-align: center;
    font-family: Calibri;
    background-color: lightskyblue;
    color: black;
}

.background
{
    text-align: left;
    background-color: black;
    color: white;
}

.movies
{
    background-color: peachpuff;
}

.facebooklink
{
     width: 100px;
     height: 50px;
     position: absolute;
     top: 70px;
     right: 125px;
}
.twitterlink
{
    width: 65px;
    height: 55px;
    position: absolute;
    top: 70px;
    right: 16px;
}

.instalink
{
    width: 65px;
    height: 55px;
    position: absolute;
    top: 70px;
    right: 80px;
}

.imdblink
{
    width: 100px;
    position: absolute;
    top: 70px;
    right: 200px;
}

h2
{
    text-align: center;
}

.phone
{
    display: none;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}


@media screen and (min-width: 610px) and (max-width:900px){

.facebooklink
{
    display: none;
}
.twitterlink
{
    display: none;
}

.instalink
{
    display: none;
}

.imdblink
{
    display: none;
}
.titles
{
    text-align: center;
    font-family: Arial;
    background-color:red;
    color: black;
    border: none;
    
}

.test
{
    text-align: center;
}

.header
{
    display: none;
}

.titles tr,
.titles th,
.titles td {
	display: block;
}

.titles td {
	border-top: none;
}
.titles tr td:first-child {
	font-weight: bold;
}

table, th, td 
{
    border: none;
}

td
{
    line-height: 40px;
}

.movielinks
{
    position: absolute;
    right: 70%;
}





tr 
{
    border-bottom: 1px solid #ddd;
}



}


@media screen and (max-width: 610px)  {

.titles
{
    text-align: center;
    font-family: Arial;
    background-color:lightblue;
    color: black;
}

.facebooklink
{
    display: none;
}
.twitterlink
{
    display: none;
}

.instalink
{
    display: none;
}

.imdblink
{
    display: none;
}

.header
{
    display: none;
}

.titles tr,
.titles th,
.titles td {
	display: block;
}

.titles td {
	border-top: none;
}
.titles tr td:first-child {
	font-weight: bold;
}

}
